<div class="guzzle">
    <h2>Requests</h2>
    {% for index,call in calls %}
        {% include '@CampruGuzzle/views/Profiler/call.html.twig' with { 'call': call } %}
    {% endfor %}
</div>
{% include '@CampruGuzzle/views/Profiler/javascript.html.twig' %}
